<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directive Vmodel textArea</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="message">
        <br>
       {{ message }}
        <br>
       <textarea cols="30" rows="10" v-model="textarea">

       </textarea>
       <br>
       <p style="white-space: pre-line;">{{ textarea }}</p>
   </div>

<script src="vendor/vue.js"></script>
<script src="js/DirectiveVModelTextArea.js"></script>
</body>
</html>



 